<img src="<%= imageUrl %>" alt="Uploaded Image" />
<p>
	Image Link:
	<a href="<%= imageUrl %>" target="_blank"><%= imageUrl %></a>
</p>
<p>Delete Image: <a href="<%= deleteUrl %>"><%= deleteUrl %></a></p>
<a href="../">Upload another image</a>
